@font-face {
    font-family: 'Palatino Linotype';
    src: url('../../fonts/Palatino Linotype/palatinolinotype_bold.ttf');
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf');
    font-style: demi;
}

@font-face {
    font-family: 'Avenir Next Cyr Medium';
    src: url('../../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf');
    font-style: medium;
}


html {
    font-size: 1.25vw;
    scroll-behavior: smooth;
    position: relative;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;    
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #382F24;
    background: #F2EDE7;
    outline: none;
}

button, a, input {
    cursor: pointer;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, span{
    margin: 0 auto;
}

h2, h3{
    font-family: 'Avenir Next Cyr';
}

h2 {
    font-size: 1.7vw;
    padding-bottom: 1.4vw;
}

p {
    font-size: 1.7vw;
    font-style: medium;
}

a {
    text-decoration: none;
    color: #382F24;
}

legend, label, input, select {
    font-family: "Avenir Next Cyr";
    color: #382F24;
}

fieldset {
    border: none;
}

.container {
    max-width: 1410px;
    width: 90vw;
    margin: 0 auto;
}

.violet-button:hover {
    background-color: #dac6fa;
    transition: 0.3s;
}

.black__outline-button:hover {
    outline: 0.14vw solid #382F24;
    transition: 0.2s;
}

.required__input {
    color: red;
}

.basket__input, .profile__option {
    height: 3.5vw;
    border-radius: 1.4vw;
    border: 0.14vw solid #382F24;
    background: #E8E5E2;
    padding: 0.7vw;
    padding-bottom: 0.8vw;
}


@media screen and (max-width: 425px) {
    .container {
        max-width: 1410px;
        width: 95vw;
        margin: 0 auto;
    }

    h2 {
        font-size: 7vw;
        padding-bottom: 3.4vw;
    }
    
    p {
        font-size: 5vw;
    }

    .basket__input, .profile__option {
        height: 8vw;
        border: 0.5vw solid #382F24;
        border-radius: 6vw;
        padding-left: 2vw;
    }

    .black__outline-button:hover {
        outline: 0.5vw solid #382F24;
    }
}