.footer {
    background-color: #D8B897;
    margin-top: 10.5vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    padding-top: 2vw;
    padding-bottom: 1.4vw;
    font-family: 'Palatino Linotype';
    bottom: 0;
    justify-content: space-between;
}

.footer__gradient {
    bottom: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, #B488F7 -50.67%, rgba(242, 237, 231, 1) 100.29%);
    width: 100%;
    height: 30vw;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 7.5vw;
}

.footer__contacts {
    display: flex;
    gap: 1.4vw;
}

.contacts__title-item, .contacts__content-item {
    line-height: 2vw;
}

.footer__nav-title {
    padding-bottom: 0.4vw;
}

.footer__nav-list {
    font-size: 1vw;
}

.footer__nav-link:hover {
    text-decoration: underline;
}

.footer__copyright-list {
    font-size: 1vw;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .footer {
        padding-top: 4vw;
        padding-bottom: 5vw;
        height: 35vw;
        font-size: 3.2vw;
        margin-top: 10.5vw;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
    }
    
    .footer__gradient {
        height: 70vw;
    }    
    
    .footer__top {
        padding-bottom: 4vw;
    }
    .contacts__title-list {
        display: none;
    }
    
    .contacts__content-item {
        margin-bottom: 3vw;
    }
    
    .footer__nav-title {
        padding-bottom: 0.4vw;
    }
    
    .footer__nav-list, .footer__copyright-list {
        font-size: 3.2vw;
    }
}