.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.container__main {
    max-width: 1410px;
    margin: 0 auto;
}

.banner__title {
    font-family: 'Palatino Linotype';
    font-size: 64px;
}

.banner__image {
    flex-shrink: 1;
}

.banner__image-pic {
    width: 100%;
    height: 460px;
    border-radius: 20px;
}

.banner__description {
    font-family: 'Palatino Linotype';
    font-size: 32px;
    font-style: italic;
    align-items:stretch;
}

.banner__button {
    width: 365px;
    height: 70px;
    border-radius: 20px;
    background: radial-gradient(94.93% 75.71% at 50% 50%, rgba(242, 237, 231, 0.00) 0%, #B488F7 100%);
    border: none
}

.cards {
    /* display: flex; */
    margin-bottom: 60px;
}

.cards__items {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 67px;
}

.item__image {
    width: 384px;
    height: 383px;
    flex-shrink: 0;
    margin-bottom: 6px;
}

.item__image-pic {
    border-radius: 20px;
    width: 384px;
    height: 383px;
    flex-shrink: 0;
}


.cards__item {
    width: 425px;
    height: 560px;
    padding: 20px;
    border-radius: 30px;
    background: radial-gradient(99.28% 108.44% at 49.88% 45.37%, #B488F7 18.73%, rgba(242, 237, 231, 0.00) 100%);
}

.item__reviews {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 20px;
}

.item__bottom {
    display: flex;
    align-content: stretch;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.item__like {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: none;
    background-color: #F2EDE7;
}

.item__price {
    margin: 0px;
}

.item__stock {
    margin: 0px;
    margin-left: 35px;
    font-size: 24px;
}

.cards__other {
    font-family: 'Avenir Next Cyr';
    font-size: 20px;
    margin-top: 20px;
    width: 425px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    float: right;
    background: radial-gradient(99.28% 108.44% at 49.88% 45.37%, rgba(180, 136, 247, 0.50) 18.73%, rgba(242, 237, 231, 0.00) 100%);
}

/* @media screen and (max-width: 1535px) {
    .banner {
        justify-content: space-evenly;
    }
} */
